<h1 mat-dialog-title>Editar curso - {{ curso.nombre }}</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario" (ngSubmit)="editarCurso()">
        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <mat-label>Comision</mat-label>
                <input matInput formControlName="comision">
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                <mat-datepicker #fechaInicio></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <mat-label>Fecha Fin</mat-label>
                <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin">
                <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                <mat-datepicker #fechaFin></mat-datepicker>
            </mat-form-field>
        
            <mat-form-field class="col-md-6">
                <mat-label>Profesor</mat-label>
                <mat-select formControlName="profesor">
                    <mat-option *ngFor="let profesor of profesores$ | async" [value]="profesor">{{ profesor.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="col-md-6">
                <mat-slide-toggle formControlName="inscripcionAbierta">Inscripcion abierta</mat-slide-toggle>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button matDialogClose mat-button-button>Cerrar</button>
    <button mat-raised-button color="primary" (click)="editarCurso()">Editar</button>
</div>