<h1>Iniciar Sesión</h1>

<form [formGroup]="formulario" (ngSubmit)="login()">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="fill">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" formControlName="usuario">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="text" formControlName="contrasena">
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-slide-toggle formControlName="esAdmin">Es admin</mat-slide-toggle>
        </div>
        <div class="col-md-2">
            <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
    </div>
</form>