.grid-container{
    display: grid;
    grid-template-areas: 
    'header header  header  header  header  header  header'
    'menu   main    main    main    main    main    main';
}

.encabezado{
    grid-area: header;
}

.grid-menu{
    grid-area: menu;
}

.grid-student{
    grid-area: main;
}