<form [formGroup]="formularioLogin" (ngSubmit)="login()" class="was-validated">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo</label>
        <input formControlName="correo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div class="valid-feedback" 
        >Campo correcto</div>
        <div class="invalido" *ngIf="formularioLogin.controls['correo'].dirty && formularioLogin.controls['correo'].errors?.['required']">El campo correo no puede ser vacío</div>
        <div class="invalido" *ngIf="formularioLogin.controls['correo'].dirty && formularioLogin.controls['correo'].errors?.['pattern']">El campo correo tiene un formato incorrecto</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input formControlName="contrasena" type="password" class="form-control" id="exampleInputPassword1">
        <div class="valido" *ngIf="formularioLogin.controls['contrasena'].dirty && formularioLogin.controls['contrasena'].valid">Campo correcto</div>
        <div class="invalido" *ngIf="formularioLogin.controls['contrasena'].dirty && formularioLogin.controls['contrasena'].errors?.['required']">El campo contraseña no puede ser vacío</div>
        <div class="invalido" *ngIf="formularioLogin.controls['contrasena'].dirty && formularioLogin.controls['contrasena'].errors?.['minlength']">El campo contrasenña debe tener al menos 6 caracteres</div>
    </div>
    <div class="mb-3 form-check">
        <input formControlName="recordarCredenciales" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recordar credenciales</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
    <button type="button" class="btn btn-danger">Registro</button>
</form>